# all compiled classes
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# local folders #
.gradle
build
workspace.xml
tasks.xml
.idea

IntelliJ Plugin/.idea
IntelliJ Plugin/HappyBrackets_IntelliJ_Plugin.zip
IntelliJ Plugin/HappyBrackets_IntelliJ_Plugin.iml

HappyBrackets/HappyBrackets.iml
HappyBrackets/HappyBrackets.ipr
