# all compiled classes
*.class

# all instances of HB.jar
HB.jar

# all .DS_Store files
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
**/hs_err_pid*

# HappyBrackets Project
HappyBrackets/.gradle/
HappyBrackets/build/
HappyBrackets/.idea/workspace.xml
HappyBrackets/logs/
HappyBrackets/HappyBrackets.ipr

# IntelliJ Plugin Project
IntelliJ\ Plugin/.idea/workspace.xml
IntelliJ\ Plugin/out/
IntelliJ\ Plugin/HappyBrackets_IntelliJ_Plugin.zip

# Distribution > HappyBrackets Project 
Distribution/HappyBrackets\ Developer\ Kit/HappyBrackets\ Project/build/
Distribution/HappyBrackets\ Developer\ Kit/HappyBrackets\ Project/logs/
Distribution/HappyBrackets\ Developer\ Kit/HappyBrackets\ Project/libs/docs/
Distribution/HappyBrackets\ Developer\ Kit/HappyBrackets\ Project/.idea/workspace.xml
Distribution/HappyBrackets\ Developer\ Kit/HappyBrackets_IntelliJ_Plugin.zip

